.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 75px solid black;
  border-left: 50px solid transparent;
}

.transition {
  transition: all 0.5s;
}
